# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Environments
.venv/
.env/
.envrc
*.env

# Data artifacts (keep .gitkeep)
data/MolForge_input/*
!data/MolForge_input/.gitkeep
data/MolForge_output/*
!data/MolForge_output/.gitkeep
data/SMILES/*
!data/SMILES/.gitkeep

# Models (if you store big checkpoints outside git-lfs)
data/models/*
!data/models/.gitkeep

# Logs
logs/
*.log
